{% extends 'main/layout.html' %}

{% block title %}Форма по добавлению статьи{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="features">
            <h1>Форма по добавлению статьи</h1>
            <form method="post">
                {% csrf_token %}<br>
                {{ form.title }}<br>
                {{ form.anons }}<br>
                {{ form.full_text }}<br>
                <input type="datetime-local" name="date" value="{{ timezone.now|date:'Y-m-d\TH:i' }}" class="date-input"><br>
                <span>{{ error }}</span>
                <button class="btn btn-success" style="margin-top: 10px;" type="submit">Добавить статью</button>
            </form>
        </div>
    {% else %}
        <div class="features">
            <h1>Вы не зарегистрированы</h1>
            <p>
                Что бы иметь возможность создавать посты <a href="{% url 'register' %}">заригистрируйтесь</a>
                или <a href="{% url 'login' %}">войдите в аккаунт</a>
            </p>
        </div>
    {% endif %}
{% endblock %}