{% extends 'main/layout.html' %}

{% block title %}Форма по добавлению статьи{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="features">
            <h1 class="page-title">Создание статьи</h1>
            <form method="post" class="form-block">
                {% csrf_token %}<br>
                {{ form.title }}<br>
                {{ form.anons }}<br>
                {{ form.full_text }}<br>
                <span>{{ error }}</span>
                <input type="hidden" name="author" value="{{ user.id }}">
                <button class="btn btn-success" style="margin-top: 10px;" type="submit">Добавить статью</button>
            </form>
        </div>
    {% else %}
        <div class="features">
            <h1>Вы не зарегистрированы</h1>
            <p>
                Что бы иметь возможность создавать посты <a href="{% url 'register' %}">заригистрируйтесь</a>
                или <a href="{% url 'login' %}">войдите в аккаунт</a>
            </p>
        </div>
    {% endif %}
{% endblock %}