{% extends 'main/layout.html' %}

{% block title %}Удаление статьи{% endblock %}

{% block content %}
    <div class="features">
        <h1>Удаление статьи</h1>
        <form method="post" class="form-block">
            {% csrf_token %}<br>
            <p>Вы действительно хотите удалить статью?</p>

            <button class="btn btn-danger" type="submit">Удалить статью</button>
            <a href="{% url 'news-detail' article.id %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
{% endblock %}