body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}
.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    position: relative;
}
.profile-info {
    text-align: left;
    margin-bottom: 20px;
}
.articles-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 200px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}
.articles-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.articles-info {
    max-width: 400px;
    width: 100%;
    border: 2px solid #333;
    padding: 10px;
    background-color: #fff;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 0 10px;
}
.button-container {
    position: absolute;
    top: 10px;
    left: 10px;
}
.button-beck {
    width: 60px;
    height: 30px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.articles-list li {
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.articles-list a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}
.articles-list a:hover {
    text-decoration: underline;
}
.articles-info-header {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
